.content{    
   
   background-size: cover;
   background-attachment: fixed;
   padding: 5px;
  
}
ion-card h2{
   color:black;
   font-weight: bold;
}
.day-box{
   background-color: #DC1C13;
   padding: 20px;
   border-radius: 0px 5px 5px 0px;
   color: #fff;
   position: relative;
   margin-left: -5px;
}
.day-text{
   text-align: left;
   font-size: 18px;
   margin-top: 8px;
}
.plc-item{
   padding:10px 15px;
   font-size: 16px;
   border-bottom:1px solid #ddd;
}

ion-card-title{
   padding: 0px;
   margin: 0px;  

}
ion-card-subtitle{
   position: relative;
    margin-bottom: -15px;
}
.date-text{
   font-size: 22px;
   font-weight: 800;
   text-align: center;
}

.ion-toolbar{
   background-color: #0354A6 !important;
}

.toolbar-container{
   background-color: #00539F !important;
}
.toolbar-background{
   background-color: #00539F !important;
}