
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="itinerary">
      <img src="assets/images/itinerary_icon_red.png" class="bottom-icon" />
      <ion-label>Itinerary</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="members-list">
      <img src="assets/images/passenger_listing_red.png" class="bottom-icon" />
      <ion-label>Members List</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <img style="width:57%" (click)="setOpen()" src="assets/images/plus.png" class="bottom-icon" />
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <img src="assets/images/group_chat_red.png" class="bottom-icon" />
      <ion-label>Chat</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="my-expenses">
      <img src="assets/images/myexpence_red.png" class="bottom-icon" />
      <ion-label>My Expenses</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
