<ion-header>
  <ion-toolbar>
    <ion-title>Transaction Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div> <ion-icon [queryParams]="{keyNotification: 28}"  [routerLink]="'/tabs/my-expenses'" style="font-size: 50px;position: absolute;right: 16px;top: 55px;" name="close-circle-outline"></ion-icon></div>
  <div class="content" >
    <div>


    <ion-card style="margin-top: 4rem;">

          <ion-row>
            <!-- <ion-col size="8" class="text-left"><h3>Transaction ID: {{getEditReviewValue.id}}</h3></ion-col> -->


              <ion-col size="12" class="text-center">
                <h4>Status</h4>
                <img src="assets/images/cross.png">
                <h4 style="font-size: 18px;font-weight: 600;margin-top: 2px;">Rejected</h4>
              </ion-col>
<!--            <ion-icon name="create-outline" (click)="editTransaction(getEditReviewValue)" style=" color: #075d0d;-->
<!--            font-size: 28px;"></ion-icon>-->
<!--             <ion-icon (click)="deleteTRansactionHistory(getEditReviewValue)" name="trash-outline"-->
<!--             style="color: orange;font-size: 28px;"></ion-icon>-->

          </ion-row>
          <hr style="margin-top: 0px;">
          <ion-row style="padding: 0px 10px;">
            <ion-col size="12"><h4>Date</h4>
              <p style="font-size: 18px;font-weight:bold">{{getEditReviewValue.date}}</p>
            </ion-col>

          </ion-row>
          <hr style="margin-top: 0px;">

          <ion-row style="padding: 0px 10px;">
            <ion-col size="12"><h4>Expense Category</h4>
              <p style="font-size: 18px;font-weight: bold"
              *ngIf="getEditReviewValue.category != 'tm_transfer' && getEditReviewValue.category != 'atm_cross_currency'
               && getEditReviewValue.category != 'atm_same_currency'
                      && getEditReviewValue.category != 'misc_collection'">{{getEditReviewValue.category}}</p>

              <p style="font-size: 18px;font-weight: bold" class="text-bal" *ngIf="getEditReviewValue.category == 'tm_transfer'">TM Transfer</p>
              <p style="font-size: 18px;font-weight: bold" class="text-bal" *ngIf="getEditReviewValue.category == 'misc_collection'">Misc Collection</p>
              <p style="font-size: 18px;font-weight: bold" class="text-bal" *ngIf="getEditReviewValue.category == 'atm_same_currency'">ATM Same Currency</p>
              <p style="font-size: 18px;font-weight: bold" class="text-bal" *ngIf="getEditReviewValue.category == 'atm_cross_currency'">ATM Cross Currency</p>

              <p></p>
            </ion-col>
          </ion-row>
          <hr style="margin-top: 0px;">

          <ion-row style="padding: 5px">
            <ion-col size="6">
              <h4 style="font-weight: 600">Card Tx </h4>

                <p style="font-size: 18px;color: red;background: #f7cad0;padding: 6.5px;"
                 *ngIf="getEditReviewValue.debit_transaction_by == 1">
                  -{{getEditReviewValue.debit}} {{getEditReviewValue.debitCurrency}}
                </p>
                <p style="font-size: 18px;color: #1d7c21;background: #cbf5e3d8;padding: 6.5px;" *ngIf="getEditReviewValue.credit_transaction_by == 1">
                    +{{getEditReviewValue.credit}} {{getEditReviewValue.creditCurrency}}
                </p>
            </ion-col>

            <ion-col size="6">
              <h4 style="font-weight: 600">Cash Tx</h4>
              <p style="font-size: 18px;color:#1d7c21;background: #cbf5e3d8;padding: 6.5px;" *ngIf="getEditReviewValue.credit_transaction_by == 2">
                +{{getEditReviewValue.credit}} {{getEditReviewValue.creditCurrency}}</p>
              
                <p style="font-size: 18px;color: red;background: #f7cad0;padding: 6.5px;"
                *ngIf="getEditReviewValue.debit_transaction_by == 2">
                 -{{getEditReviewValue.debit}} {{getEditReviewValue.debitCurrency}}
               </p>
            </ion-col>
            <ion-row style="padding: 5px" *ngIf="getEditReviewValue.fees">
              <ion-col size="12"> <h4>
                Withdrawal Fee :
                <span style="color: #1d7c21">{{getEditReviewValue.fees}} {{getEditReviewValue.debitCurrency}}</span> </h4>
              </ion-col>
            </ion-row>
            <!-- <ion-col size="6" class="text-right" style="color: rgb(75 75 75);font-size: 16px;"><b>Pay Via</b>
              <p style="font-size: 20px;" *ngIf="getEditReviewValue.transaction_by == 1">Card</p>
              <p style="font-size: 20px;" *ngIf="getEditReviewValue.credit_transaction_by == 2">Cash</p>
            </ion-col> -->
          </ion-row>
          <!--  <hr style="margin-top: 0px;" *ngIf="getEditReviewValue.description != null">

         <ion-row style="padding: 0px 10px;" *ngIf="getEditReviewValue.description != null">
            <ion-col size="12"><b style="color: rgb(75 75 75);font-size: 14px;">Description</b>
              <p style="font-size: 18px;">{{getEditReviewValue.description}}</p>
            </ion-col>
          </ion-row> -->

          <hr style="margin-top: 0px;">

          <ion-row style="padding: 0px 10px;" >
            <ion-col size="12"><h4>ROE</h4>
              <p style="font-size: 18px;font-weight: 600">{{getEditReviewValue.roe}}</p>
            </ion-col>
          </ion-row>



          <!-- <ion-row style="padding: 0px 10px;" >
            <ion-col size="12"><h3>Status</h3>
              <p style="font-size: 20px;color: red;">Rejected</p>
            </ion-col>
          </ion-row> -->

          <hr style="margin-top: 0px;">

          <ion-row style="padding: 0px 10px;">
            <ion-col size="12"><h4>Reason for Rejection</h4>
              <p style="font-size: 20px;color: red;">{{getEditReviewValue.remark[0]}} </p>
            </ion-col>
          </ion-row>
      <ion-row style="padding: 5px 10px;">

        <ion-col size="6">
          <ion-button  (click)="editTransaction(getEditReviewValue)" class="primary-btn">Edit</ion-button>

        </ion-col>
        <ion-col size="6">
          <ion-button (click)="deleteTRansactionHistory(getEditReviewValue)" 
           class="primary-btn" style="background-color:#e0ac08;color:black !important;">Delete</ion-button>

        </ion-col>
      </ion-row>


        </ion-card>



      </div>
  </div>

</ion-content>
