.scrolling-wrapper {
   // overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card-slide {
      display:inline-block;
    }
  }

 .page-title{
   width: 100%;
   padding:20px;
   background:white;
 }