<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ion-button menuToggle></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (ionRefresh)="doRefresh($event)">

  <div class="page-title" size="small">Hello, <br>{{manager_name}} </div>

  <div class="swiper-content">
    <swiper #expensesSwiper [config]="expensesConfig" class="common-swiper">
      <ng-container *ngFor="let record of balanceData">
        <ng-template swiperSlide>
          <app-expense-card [showBalance]="record"></app-expense-card>
        </ng-template>
      </ng-container>
    </swiper>
  </div>

  <ion-segment #segment (ionChange)="segmentChanged($event)" class="mb-4" style="background: white;" mode="ios"
    value={{activeSegment}}>
    <ion-segment-button value="allTrans">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rejected_trans">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="swiper-content">
    <swiper #swiper (slideChange)="onSlideChange($event)" [config]="config" class="common-swiper">
      <ng-template swiperSlide>
        <ng-container *ngFor="let history of transctionHistory">
          <app-expenses-all [history]="history"></app-expenses-all>
        </ng-container>
      </ng-template>
      <ng-template swiperSlide>
        <ng-container *ngFor="let history of rejectedTransctionHistory">
          <app-expenses-reject [history]="history"></app-expenses-reject>
        </ng-container>
      </ng-template>
    </swiper>
  </div>


  <div *ngFor="let history of transctionHistory">
    <div *ngFor="let historyDetails of history.transValue">
      <ion-fab class="mr-3" slot="fixed" style="bottom: 20px;position: fixed;right: 3px;">
        <ion-fab-button *ngIf="checkHistryDetail(historyDetails)" style="font-size: 14px; --box-shadow:none;"
                          (click)="addTransactionHistoryReview()">Submit
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>