<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ion-button menuToggle></ion-menu-button>
    </ion-buttons>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>


  <ion-content  (ionRefresh)="doRefresh($event)">
    <ion-refresher slot="fixed">
      <ion-refresher-content  pullingIcon="chevron-down-circle-outline"
                              pullingText="Pull to refresh"
                              refreshingSpinner="circles"
                              refreshingText="Refreshing..." style="background-color:#fff">

      </ion-refresher-content>
    </ion-refresher>
<!--    <virtual-scroll-element class="ion-content-scroll-host">-->
<!--      &lt;!&ndash; Your virtual scroll content &ndash;&gt;-->
<!--    </virtual-scroll-element>-->



  <ion-header>
    <ion-toolbar>
      <ion-title class="text-left" size="small">Hello, <br>{{manager_name}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <div class="scrolling-wrapper w-100">
      <ion-card class="card-slide" style="margin: 10px -4px 24px 17px;padding-bottom: 20px; height: 200px;
      width: 87%;" *ngFor="let showBalance of getCurrBalance; index as i;">
        <ion-card-content style="padding: 5px;">
          <ion-row>
            <ion-col size="6" style="text-align: left">Expenses Details</ion-col>
            <ion-col size="6" style="text-align: right"><img src="assets/images/myexpence_red.png" style="width: 30px" />
            </ion-col>

          </ion-row>

          <ion-row *ngIf="VisibleSect">
            <div class="w-100" style="font-size: 20px;text-align: center;">


              <span>Card Amount: <b *ngIf="varTrue"> {{showBalance.balance_card.toString().slice(0,2)}}<span>XXX</span>
                  {{showBalance.currency_name}} </b><b *ngIf="varFalse"> {{showBalance.balance_card.toString()}}
                  {{showBalance.currency_name}} </b> </span>

              <ion-icon (click)="soAmount()" name="information-circle-outline"
                style="font-size: 28px;position:absolute;"></ion-icon>
              <br>
              <span *ngIf="showBalance.last_card_transaction_type == 'credit'"
                style="color:#696565;font-size:16px;">Last Transaction:<b> +
                  {{showBalance.last_card_transaction_amount}} {{showBalance.currency_name}}</b> </span>
              <span *ngIf="showBalance.last_card_transaction_type == 'debit'" style="color:#696565;font-size:16px;">Last
                Transaction:<b> - {{showBalance.last_card_transaction_amount}} {{showBalance.currency_name}}</b> </span>
            </div>
          </ion-row>
          <ion-row *ngIf="!NoVisibleSect">
            <div class="w-100" style="font-size: 20px;text-align: center;">
              <span>Cash Amount: <b *ngIf="varTrue1"> {{showBalance.balance_cash.toString().slice(0,2)}}<span>XXX</span>
                  {{showBalance.currency_name}} </b><b *ngIf="varFalse1"> {{showBalance.balance_cash.toString()}}
                  {{showBalance.currency_name}} </b> </span>
              <ion-icon (click)="soAmount1()" name="information-circle-outline"
                style="font-size: 28px;position:absolute;"></ion-icon>
              <br>
              <span *ngIf="showBalance.last_cash_transaction_type == 'credit'"
                style="color:#696565;font-size:16px;">Last Transaction:<b> +
                  {{showBalance.last_cash_transaction_amount}} {{showBalance.currency_name}}</b> </span>
              <span *ngIf="showBalance.last_cash_transaction_type == 'debit'" style="color:#696565;font-size:16px;">Last
                Transaction:<b> - {{showBalance.last_cash_transaction_amount}} {{showBalance.currency_name}}</b> </span>
            </div>
          </ion-row>
          <ion-row>
            <div class="w-100" style="font-size: 18px;text-align: center;margin-top: 8%;">
              <span (click)="visibleSec()" style="padding: 10px;background-color:#00539F;color:#fff;
            border-radius: 20px;">{{VisibleSect == true?'View Cash Balance':'View Card Balance'}}</span>
            </div>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </ion-row>

  <!-------------------List all/Rejected---------------------->

 
  <ion-segment #segment (ionChange)="segmentChanged($event.target.value)"
  class="mb-4 ml-2 mr-2" style="background: white;"
    mode="ios" scrollable value={{activeSegment}}>
    <ion-segment-button value="allTrans">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rejected_trans">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
  </ion-segment>


  <!------------old code---------------------->
  <!-- <ion-row>
      <div class="scrolling-wrapper">
      <ion-card class="card-slide" style="    margin: 10px -4px 24px 17px;
      width: 87%;" *ngFor="let showBalance of getCurrBalance; index as i;">

        <ion-card-content class="text-center" *ngIf="!showBalance.isCashAmount">
          <ion-row>
            <ion-col size="4" style="text-align: left;">
              <img src="assets/images/cart-amt.png" />
            </ion-col>
            <ion-col size="8" style="text-align: right;">
             Card <ion-toggle
              [(ngModel)]="showBalance.isChecked" (ionChange)="toggleClicked(showBalance.id, showBalance.isChecked)"
              value="toggleChecked"  color="primary"></ion-toggle> Cash
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" style="text-align: left;">
               <span style="font-size: 18px;"> Card Amount :</span> <b style="font-size: 20px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{showBalance.balance_card}} {{showBalance.currency_name}}</b> <br> <br>

              <div >
                <span> last Transaction :</span>&nbsp;&nbsp;

              <span *ngIf="showBalance.last_card_transaction_type == 'credit'"
               style="width:90px;background-color:#00539F;color:#fff;padding: 10px 18px;
               border-radius: 16px;">
               + {{showBalance.last_card_transaction_amount}} {{showBalance.currency_name}}</span>

               <span *ngIf="showBalance.last_card_transaction_type == 'debit'"
               style="background-color:#00539F;color:#fff;padding: 10px 18px;
               border-radius: 16px;width:90px;">
              - {{showBalance.last_card_transaction_amount}} {{showBalance.currency_name}}</span>

              <b *ngIf="showBalance.last_card_transaction_status == 3"
              style="color: #f10a0a;font-size: 16px;font-weight: 900;"> Deleted</b>

              </div>
               <ion-button class="btn-green-amt">{{showBalance.balance_card}} {{showBalance.currency_name}}</ion-button>

            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-card-content class="text-center" *ngIf="showBalance.isCashAmount">
          <ion-row>
            <ion-col size="4" style="text-align: left;">
              <img src="assets/images/cart-amt.png" />
            </ion-col>

            <ion-col size="8" style="text-align: right;">
              Card <ion-toggle
              [(ngModel)]="showBalance.isChecked" (ionChange)="toggleClicked(showBalance.id, showBalance.isChecked)"
               value="toggleChecked"></ion-toggle> Cash
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" style="text-align: left;">
               <span style="font-size: 18px;"> Cash Amount :</span> <b style="font-size: 20px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{showBalance.balance_cash}} {{showBalance.currency_name}}</b> <br> <br>
               <span> last Transaction :</span>&nbsp;&nbsp;

              <span *ngIf="showBalance.last_cash_transaction_type == 'credit'"
               style="width:90px;background-color:#00539F;color:#fff;padding: 10px 18px;
               border-radius: 16px;">
               + {{showBalance.last_cash_transaction_amount}} {{showBalance.currency_name}}</span>


               <span *ngIf="showBalance.last_cash_transaction_type == 'debit'"
               style="background-color:#00539F;color:#fff;padding: 10px 18px;
               border-radius: 16px;width:90px;">
              - {{showBalance.last_cash_transaction_amount}} {{showBalance.currency_name}}</span>

              <b *ngIf="showBalance.last_cash_transaction_status == 3"
              style="color: #f10a0a;font-size: 16px;font-weight: 900;"> Deleted</b>


            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      </div>
    </ion-row> -->
  <!------------old code---------------------->
    


  <div class="swiper-content">

    <swiper #swiper (slideChange)="onSlideChange($event)" [config]="config" class="common-swiper">
   
      <ng-template swiperSlide>
       
          <ion-card style="margin-top: 0px;padding-bottom: 5rem" >
            

            <!--<div *ngFor="let history of newTranscationList | keyvalue: asIsOrder"> -->


            <!-- <div *ngFor="let history of transctionHistory">

                  <div class="d-flex" *ngFor="let historyDetails of history.transValue">

                    <div style="padding: 10px 0px 0px 10px;font-size: 16px;font-weight: 600;">
                      <span style="margin-top: 10px;">{{history.transKey}}bbb</span>
                    </div> <hr>
                    <div class="w-100 showSelecthide" *ngIf="historyDetails.show_transaction == 0">

                    </div>
                  </div>
                </div> -->


            <div *ngFor="let history of transctionHistory">
              <div style="padding: 10px 0px 0px 10px;font-size: 16px;font-weight: 600;">
                <span style="margin-top: 10px;">{{history.transKey}}</span>
              </div>
              <hr>

              <div class="d-flex" *ngFor="let historyDetails of history.transValue">
                <div class="w-100 showSelecthide"
                [ngStyle]="{'background-color':historyDetails.refId == 0 ? '2px solid #ff000061' : '#d8d1d1'}"
                *ngIf="historyDetails.show_transaction == 0">


                  <ion-row>
                    <ion-col size="2" style="padding-top: 10px;"> <img src="assets/images/money.png" style="width: 40px">
                    </ion-col>

                    <ion-col size="6">
                      <p class="text-bal" *ngIf="historyDetails.category != 'tm_transfer' && historyDetails.category != 'atm_cross_currency' && historyDetails.category != 'atm_same_currency'
                        && historyDetails.category != 'misc_collection'">{{historyDetails.category}}</p>
                      <p class="text-bal" *ngIf="historyDetails.category == 'tm_transfer'">TM Transfer</p>
                      <p class="text-bal" *ngIf="historyDetails.category == 'misc_collection'">Misc Collection</p>
                      <p class="text-bal" *ngIf="historyDetails.category == 'atm_same_currency'">ATM Same Currency</p>
                      <p class="text-bal" *ngIf="historyDetails.category == 'atm_cross_currency'">ATM Cross Currency</p>

                      <p style="font-size: 14px;color: #696565;"
                        *ngIf="historyDetails.transaction_type == 2 && historyDetails.transaction_by == 1">Received on
                        Card </p>
                      <p style="font-size: 14px;color: #696565;"
                        *ngIf="historyDetails.transaction_type == 2 && historyDetails.transaction_by == 2">Received on
                        Cash </p>
                      <p style="font-size: 14px;color: #696565;"
                        *ngIf="historyDetails.transaction_type == 1 && historyDetails.transaction_by == 1">Payment By Card
                      </p>
                      <p style="font-size: 14px;color: #696565;"
                        *ngIf="historyDetails.transaction_type == 1 && historyDetails.transaction_by == 2">Payment By Cash
                      </p>

                    </ion-col>

                    <ion-col size="4" style="text-align: right;">
                      <div *ngIf="historyDetails.show_transaction == 0  && historyDetails.submission_status == 0 &&
                        historyDetails.category != 'BALANCE ADDED' &&  historyDetails.category != 'misc_collection' &&
                        historyDetails.category != 'tm_transfer'" style="padding-bottom:5px;">
                        <ion-icon name="create-outline" (click)="editTransaction(historyDetails)" style=" color: #075d0d;
                          font-size: 28px;"></ion-icon>
                        <ion-icon (click)="deleteTRansactionHistory(historyDetails)" name="trash-outline"
                          style="color: orange;font-size: 28px;"></ion-icon>
                      </div>

                      <div *ngIf="historyDetails.category == 'misc_collection' && historyDetails.submission_level != 1"
                        style="padding-bottom:5px;">
                        <ion-icon name="create-outline" (click)="editTransaction(historyDetails)" style=" color: #075d0d;
                          font-size: 28px;"></ion-icon>
                        <ion-icon (click)="deleteTRansactionHistory(historyDetails)" name="trash-outline"
                          style="color: orange;font-size: 28px;"></ion-icon>
                      </div>





                      <p class="text-amt-debit" *ngIf="historyDetails.transaction_type == 1">
                        -{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></p>
                      <p class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  3 ">
                        -{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></p>
                      <p class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  4">
                        -{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></p>
                      <p class="text-amt" *ngIf="historyDetails.transaction_type == 2">
                        +{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></p>


                    </ion-col>

                  </ion-row>
                  <!-- <ion-row>
                      <ion-col size="2"></ion-col>
                      <ion-col size="6">

                      </ion-col>
                      <ion-col size="4">
                        <div>
                          <ion-col  class="text-amt-debit" *ngIf="historyDetails.transaction_type == 1">-{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></ion-col>
                          <ion-col  class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  3 ">-{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></ion-col>
                          <ion-col  class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  4">-{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></ion-col>
                          <ion-col  class="text-amt" *ngIf="historyDetails.transaction_type == 2">+{{historyDetails.transaction_amount}} <b>{{historyDetails.currency}}</b></ion-col>
                          </div>
                      </ion-col>

                    </ion-row> -->

                  <!-- <ion-row>

                      <ion-col size="6" class="text-bal" style="font-size: 14px;color: #696565;" *ngIf="historyDetails.transaction_type == 2 && historyDetails.transaction_by == 1">Received on Card </ion-col>
                      <ion-col size="6" class="text-bal" style="font-size: 14px;color: #696565;" *ngIf="historyDetails.transaction_type == 2 && historyDetails.transaction_by == 2">Received on Cash </ion-col>
                      <ion-col size="6" class="text-bal" style="font-size: 14px;color: #696565;" *ngIf="historyDetails.transaction_type == 1 && historyDetails.transaction_by == 1">Payment By Card </ion-col>
                      <ion-col size="6" class="text-bal" style="font-size: 14px;color: #696565;" *ngIf="historyDetails.transaction_type == 1 && historyDetails.transaction_by == 2">Payment By Cash </ion-col>

                    </ion-row> -->
                </div>

                <!-- <ion-card class="w-90" *ngIf="historyDetails.submission_status == 3" style="background-color: #fcd6dd">
                    <ion-row *ngIf="historyDetails.show_transaction == 0 && historyDetails.category != 'tm_transfer' && historyDetails.category != 'BALANCE ADDED' ">
                      <ion-col size="6" style="color: #767b7f;" class="btn-edit" (click)="editTransaction(historyDetails)">Edit</ion-col>
                      <ion-col size="6" style="color: #767b7f;" class="btn-delete" (click)="deleteTRansactionHistory(historyDetails)">Delete</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="text-bal"><b>{{historyDetails.category}}</b></ion-col>
                      <ion-col size="6" style="text-align: right;font-size: 20px;"><b>{{historyDetails.currency}}</b></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_by == 1">Received on Card</ion-col>
                      <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_by == 2">Payment via Cash</ion-col>
                      <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type == 1">-{{historyDetails.transaction_amount}}</ion-col>
                      <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  3 ">-{{historyDetails.transaction_amount}}</ion-col>
                      <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  4">-{{historyDetails.transaction_amount}}</ion-col>
                      <ion-col size="6" class="text-amt" *ngIf="historyDetails.transaction_type == 2">+{{historyDetails.transaction_amount}}</ion-col>
                    </ion-row>
                  </ion-card>-->

                <!-- <div class="w-10"  *ngIf="showSelecthide">

                    <ion-checkbox slot="start"  *ngIf="historyDetails.show_transaction == 0 && historyDetails.category != 'tm_transfer' && historyDetails.category != 'BALANCE ADDED' "
                    class="largerCheckbox" [(ngModel)]="historyDetails.isItemChecked" (ionChange)="verifyEvent(historyDetails.id)" style="margin: 68px 0px;">
                    </ion-checkbox>
                  </div>-->
              </div>

              <div *ngFor="let historyDetails of history.transValue">

                <ion-fab class="mr-3" slot="fixed"
                  style="bottom: 20px;position: fixed;right: 3px;">

                  <ion-fab-button *ngIf="(historyDetails.submission_status == 0 && historyDetails.show_transaction == 0)  && historyDetails.category != 'BALANCE ADDED'
                    && historyDetails.category != 'misc_collection' &&
                  historyDetails.category != 'tm_transfer'" style="font-size: 14px; --box-shadow:none;"
                    (click)="addTransactionHistory()" >Submit
                  </ion-fab-button>
                </ion-fab>
              </div>
            </div>
              <!---------------------- submit button --------------------------- -->
          
          
          </ion-card>  
       
      </ng-template>
   

      <!------------------------------Rejected List----------------------------------------->

      <ng-template swiperSlide>

     
        <ion-card style="margin-top: 0px;padding-bottom: 5rem;">
       

          <div *ngFor="let history of rejectedTransctionHistory">

            <div style="width: 100%;display: inline-flex;"
                 *ngIf="history.category != 'tm_transfer' && history.category != 'BALANCE ADDED' && history.category != 'misc_collection' ">
            </div>


            <div class="d-flex" *ngFor="let historyDetails of history.transValue">

    

              <ion-card class="w-100"
                        [ngStyle]="{'background-color':historyDetails.refId == 0 ? '#f9e9e9' : 'rgb(220 247 220)'}"
                        style="margin:0.5rem;border:2px solid gray" *ngIf=" historyDetails.category != 'BALANCE ADDED' && historyDetails.category != 'misc_collection' &&
                 historyDetails.category != 'tm_transfer'">

                <div style="border-bottom: 1px solid grey;">

                  <ion-row style="padding:4px;">
                    <ion-col size="6" style="font-size: 18px;">{{history.transKey}}</ion-col>
                    <ion-col size="6">

                      <div style="color: #00539F;text-align: right;font-size: 18px;" (click)="editReviewTransaction(historyDetails)"
                           [routerLink]="'/notification/review-feedback/review-transaction-details'">View</div>
                    </ion-col>
                    <!-- <ion-icon name="create-outline" (click)="editTransaction(historyDetails)" style=" color: #075d0d;
                        font-size: 28px;"></ion-icon>
                    <ion-icon (click)="deleteTRansactionHistory(historyDetails)" name="trash-outline"
                      style="color: orange;font-size: 28px;"></ion-icon> -->
                  </ion-row>
                </div>

                <div class="mt-3" (click)="editReviewTransaction(historyDetails)"
                     [routerLink]="'/notification/review-feedback/review-transaction-details'">
                  <ion-row>

                    <ion-col style="text-align: center;" size="12" class="text-bal" *ngIf="historyDetails.category != 'tm_transfer' && historyDetails.category != 'atm_cross_currency' && historyDetails.category != 'atm_same_currency'
                          && historyDetails.category != 'misc_collection'">{{historyDetails.category}}</ion-col>
                    <ion-col style="width:100%;text-align: center;" size="12" class="text-bal"
                             *ngIf="historyDetails.category == 'tm_transfer'">TM Transfer</ion-col>
                    <ion-col style="width:100%;text-align: center;" size="12" class="text-bal"
                             *ngIf="historyDetails.category == 'misc_collection'">Misc Collection</ion-col>
                    <ion-col style="width:100%;text-align: center;" size="12" class="text-bal"
                             *ngIf="historyDetails.category == 'atm_same_currency'">ATM Same Currency</ion-col>
                    <ion-col style="width:100%;text-align: center;" size="12" class="text-bal"
                             *ngIf="historyDetails.category == 'atm_cross_currency'">ATM Cross Currency</ion-col>


                    <!-- <div style="margin:0 auto;margin-bottom: 1rem;margin-top: 1rem;">
                      <ion-col *ngIf="historyDetails.fees" size="2" style="text-align: right;font-size: 16px;">
                        {{historyDetails.fees}} {{historyDetails.debitCurrency}}</ion-col>
                      <ion-col *ngIf="historyDetails.debit" size="2" class="text-amt-debit">-{{historyDetails.debit}}
                        {{historyDetails.debitCurrency}}</ion-col>
                      <ion-col *ngIf="historyDetails.credit" size="2" class="text-amt">+{{historyDetails.credit}}
                        {{historyDetails.creditCurrency}}</ion-col>
                    </div> -->

                  </ion-row>


                  <ion-row style="padding: 5px">
                    <ion-col size="12" style="display:flex;">
                      <ion-col size="4">
                        <h4 style="font-weight: 600">Card Tx </h4>
                      </ion-col>
                      <ion-col size="8">
                        <span style="font-size: 15px;color: red;padding: 6.5px;"
                              *ngIf="historyDetails.debit_transaction_by == 1">
                          -{{historyDetails.debit}} {{historyDetails.debitCurrency}}
                    </span>
                        <span style="font-size: 15px;color: #1d7c21;padding: 6.5px;" *ngIf="historyDetails.credit_transaction_by == 1">
                            +{{historyDetails.credit}} {{historyDetails.creditCurrency}}
                        </span>
                      </ion-col>
                    </ion-col>

                    <ion-col size="12" style="display:flex">
                      <ion-col size="4">
                        <h4 style="font-weight: 600">Cash Tx</h4>
                      </ion-col>
                      <ion-col size="8">
                      <span style="font-size: 15px;color:#1d7c21;padding: 6.5px;" *ngIf="historyDetails.credit_transaction_by == 2">
                        +{{historyDetails.credit}} {{historyDetails.creditCurrency}} </span>

                        <span style="font-size: 15px;color: red;padding: 6.5px;"
                              *ngIf="historyDetails.debit_transaction_by == 2">
                         -{{historyDetails.debit}} {{historyDetails.debitCurrency}}
                      </span>
                      </ion-col>
                    </ion-col>
                  </ion-row>

                </div>
              </ion-card>

            </div>
          </div>

        </ion-card>

        <div *ngFor="let history of transctionHistory">
          <div *ngFor="let historyDetails of history.transValue">

            <ion-fab *ngIf=" (historyDetails.submission_status == 3 && historyDetails.show_transaction == 0) && historyDetails.category != 'BALANCE ADDED' && historyDetails.category != 'misc_collection' &&
            historyDetails.category != 'tm_transfer'" class="mr-3" slot="fixed"
                     style="bottom: 30px;position: fixed;right: 8px;">

              <ion-fab-button style="font-size: 14px; --box-shadow:none;" (click)="addTransactionHistoryReview()">Submit
              </ion-fab-button>
            </ion-fab>
          </div>

        </div>
      </ng-template>
    </swiper>


   


  </div>


