<ion-header>
  <ion-toolbar>
    <ion-title>Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


   <div class="content" style="background-image: url(assets/images/background.png);min-height: 100%;">
    <div *ngFor="let history of newTranscationList | keyvalue: asIsOrder">
      <div style="width: 100%;display: inline-flex;">
        <hr style="width:30%; height: 1px;   background-color: blue; margin-left: 0;">
        <span style="margin-top: 10px;">{{history.key}}</span>
         <hr style="width:30%; height: 1px;   background-color: blue;">
    </div>

    <!--<div>

    <ion-fab slot="fixed"  *ngIf="historyDetails.show_transaction == 0 && historyDetails.category != 'tm_transfer' && historyDetails.category != 'BALANCE ADDED' "
     style="bottom: 38px;right: 50%;">
      <ion-fab-button  color="warning" style="font-size: 38px;border-radius: 50%;"
       (click)="addTransactionHistory()">
        <ion-icon name="return-down-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </div>-->

    <!--<div style="width: 98%;" *ngIf="showSelect">
      <ion-label style="float: right;background-color: #00539F;padding: 10px;border-radius: 10px;color: #fff;">
      <ion-checkbox style="border-radius: 0px;" slot="start" [(ngModel)]="checkParent" [indeterminate]="indeterminateState"
      (click)="checkCheckbox($event)"></ion-checkbox><strong> Select All</strong></ion-label>
    </div>-->


    <div class="d-flex" *ngFor="let historyDetails of history.value">


        <ion-card class="w-90 showSelecthide" *ngIf="historyDetails.show_transaction == 0">
          <ion-row *ngIf="historyDetails.show_transaction == 0 && historyDetails.submission_status == 0 &&
          historyDetails.category != 'BALANCE ADDED' && historyDetails.category != 'misc_collection' &&
           historyDetails.category != 'tm_transfer' ">
            <ion-col size="6" class="btn-edit" (click)="editTransaction(historyDetails)">Edit</ion-col>
            <ion-col size="6" class="btn-delete" (click)="deleteTRansactionHistory(historyDetails)">Delete</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="text-bal" *ngIf="historyDetails.category == 'tm_transfer'"><b>TM Transfer</b></ion-col>
            <ion-col size="6" class="text-bal" *ngIf="historyDetails.category == 'misc_collection'"><b>Misc Collection</b></ion-col>
            <ion-col size="6" class="text-bal" *ngIf="historyDetails.category == 'atm_same_currency'"><b>ATM Same Currency</b></ion-col>
            <ion-col size="6" class="text-bal" *ngIf="historyDetails.category == 'atm_cross_currency'"><b>ATM Cross Currency</b></ion-col>
            
            
            <ion-col size="6" class="text-bal"
             *ngIf="historyDetails.category != 'tm_transfer' && historyDetails.category != 'atm_cross_currency' && historyDetails.category != 'atm_same_currency' && historyDetails.category != 'misc_collection'">
             <b>{{historyDetails.category}}</b></ion-col>
            
            
            
            <ion-col size="6" style="text-align: right;font-size: 20px;"><b>{{historyDetails.currency}}</b></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_type == 2 && historyDetails.transaction_by == 1">Received on Card </ion-col>
            <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_type == 2 && historyDetails.transaction_by == 2">Received on Cash </ion-col>
            <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_type == 1 && historyDetails.transaction_by == 1">Payment By Card </ion-col>
            <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_type == 1 && historyDetails.transaction_by == 2">Payment By Cash </ion-col>

            <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type == 1">-{{historyDetails.transaction_amount}}</ion-col>
            <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  3 ">-{{historyDetails.transaction_amount}}</ion-col>
            <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  4">-{{historyDetails.transaction_amount}}</ion-col>
            <ion-col size="6" class="text-amt" *ngIf="historyDetails.transaction_type == 2">+{{historyDetails.transaction_amount}}</ion-col>
          </ion-row>
        </ion-card>

       <!-- <ion-card class="w-90" *ngIf="historyDetails.submission_status == 3" style="background-color: #fcd6dd">
          <ion-row *ngIf="historyDetails.show_transaction == 0 && historyDetails.category != 'tm_transfer' && historyDetails.category != 'BALANCE ADDED' ">
            <ion-col size="6" style="color: #767b7f;" class="btn-edit" (click)="editTransaction(historyDetails)">Edit</ion-col>
            <ion-col size="6" style="color: #767b7f;" class="btn-delete" (click)="deleteTRansactionHistory(historyDetails)">Delete</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="text-bal"><b>{{historyDetails.category}}</b></ion-col>
            <ion-col size="6" style="text-align: right;font-size: 20px;"><b>{{historyDetails.currency}}</b></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_by == 1">Received on Card</ion-col>
            <ion-col size="6" class="text-bal" style="font-size: 16px;" *ngIf="historyDetails.transaction_by == 2">Payment via Cash</ion-col>
            <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type == 1">-{{historyDetails.transaction_amount}}</ion-col>
            <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  3 ">-{{historyDetails.transaction_amount}}</ion-col>
            <ion-col size="6" class="text-amt-debit" *ngIf="historyDetails.transaction_type ==  4">-{{historyDetails.transaction_amount}}</ion-col>
            <ion-col size="6" class="text-amt" *ngIf="historyDetails.transaction_type == 2">+{{historyDetails.transaction_amount}}</ion-col>
          </ion-row>
        </ion-card>-->


       <!-- <div class="w-10"  *ngIf="showSelecthide">

          <ion-checkbox slot="start"  *ngIf="historyDetails.show_transaction == 0 && historyDetails.category != 'tm_transfer' && historyDetails.category != 'BALANCE ADDED' "
           class="largerCheckbox" [(ngModel)]="historyDetails.isItemChecked" (ionChange)="verifyEvent(historyDetails.id)" style="margin: 68px 0px;">
          </ion-checkbox>
        </div>-->
    </div>

    <div *ngFor="let historyDetails of history.value">
      <ion-fab class="mr-3" slot="fixed" style="bottom: 38px;position: fixed;right: 0;">
      
       <ion-fab-button *ngIf="hideSubmitButton && historyDetails.submission_status == 0 && historyDetails.category != 'BALANCE ADDED' && historyDetails.category != 'misc_collection' &&
       historyDetails.category != 'tm_transfer'"
          style="font-size: 14px;border-radius: 2px; --box-shadow:none;    "
         (click)="addTransactionHistory()">Submit
         <!-- <ion-icon name="return-down-forward-outline"></ion-icon> -->
        </ion-fab-button>
      </ion-fab>
    </div>
 

    </div>
  </div>
</ion-content>
