<ion-header>
  <ion-toolbar>

      <div class="vertical-center-header" (click)="back()">
        <ion-icon class="back-arrow" src="assets/icon/arrow-left.svg"></ion-icon> Misc. Collection
      </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content" style="background-image: url(assets/images/background.png);">
    <ion-card>
        <ion-row>

          <ion-col size="4">
            <label>Amt Received</label>
            <div class="form-group">
              <input type="number" class="form-control" (keypress)="keyPressNumbers($event)" [(ngModel)]="paidAmt" placeholder=""/>

            </div>
          </ion-col>
          <ion-col size="4">
            <label>Currency</label> 

            <div class="form-group" *ngIf="currencyFromDropdown != ''">
              <input readonly [(ngModel)]="currencyFromDropdown" class="form-control">
            </div>

            <div class="form-group" *ngIf="currencyFromDropdown == ''"> 
              <select class="form-control" (change)="selectCurrencyDropdown($event.target.value)" [(ngModel)]="currencyFromDropdown">
                <option  *ngFor="let currencyDisplay of showrecivedCashCurrency"  [ngValue]="currencyDisplay">{{currencyDisplay}}</option>
              </select>

              <!-- <select class="form-control" (change)="selectCurrencyDropdown($event.target.value)" [(ngModel)]="currencyFromDropdown">
                <option *ngFor="let currencyDisplay of showCashCurrency" [ngValue]="currencyDisplay">{{currencyDisplay}}</option>
              </select> -->
            </div>
          </ion-col>
          <ion-col size="4">
            <label>Handover Type</label>
            <div class="form-group">
              <input type="text"  placeholder="Cash"  disabled>
<!--              <select class="form-control" disabled>-->
<!--                <option>Cash</option>-->
<!--              </select>-->
            </div>
         </ion-col>

        </ion-row>


        <hr>

        <ion-row>
          <ion-col>
            <div class="form-group">
              <label>Date of Transaction</label>

              <input type="date" [(ngModel)]="selectedDate" [max]="todayDateTime" class="form-control" placeholder="Date" />

              <!-- <input *ngIf="selectedDate != 0" readonly type="date"  [(ngModel)]="selectedDate" class="form-control"  [max]="todayDateTime" placeholder="DD-MM-YYYY"/>
            

              <input *ngIf="selectedDate == 0" type="date"  [(ngModel)]="selectedDate" class="form-control"  [max]="todayDateTime" placeholder="DD-MM-YYYY"/>
             -->
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea type="text" [(ngModel)]="description" class="form-control"  placeholder="Description"></textarea>

            </div>
          </ion-col>
        </ion-row>

        <!--<ion-row>
          <ion-col size="4">
            <label>Amt Paid</label>
            <div class="form-group">
              <input type="number" [(ngModel)]="recivedAmt" class="form-control" placeholder=""/>

            </div>
          </ion-col>
          <ion-col size="4">
            <label>Currency</label>
            <div class="form-group">
              <select class="form-control" (change)="selectRecivedCurrencyDropdown($event.target.value)" [(ngModel)]="recivedCurrencySelected">
                <option *ngFor="let currencyDisplay of showrecivedCashCurrency" [ngValue]="currencyDisplay">{{currencyDisplay}}</option>
              </select>
            </div>
          </ion-col>
          <ion-col size="4">
            <label>Handover Type</label>
            <div class="form-group">
              <select class="form-control" disabled>
                <option>Cash</option>
              </select>
            </div>
          </ion-col>





        </ion-row>
        <div *ngIf="autoCalculateVlaue" style="text-align: center;font-weight: bolder;font-size: 18px;"> 1 {{currencyFromDropdown}} = {{autoCalculateVlaue}} {{recivedCurrencySelected}}</div>
        <ion-row class="mb-2 ml-2 mr-2">
          <ion-button class="primary-btn" style="color:#fff;"  (click)="autoCalculateCurrency()">Auto Calculate</ion-button>
        </ion-row>-->

      </ion-card>



       <!-- <ion-row>
          <ion-col>

            <div class="form-group mt-2 mb-2">
              <ion-button class="primary-btn add-file mr-20" style="color:#fff;width: 191px;" (click)="openGallery()">
                <ion-icon name="add-outline" style="font-size: xx-large;"></ion-icon> Add Receipt File</ion-button>
                <div style="text-align: center;" *ngIf="imageDisplay">
                  <img [src]="imageDisplay" style="width: 200px !important; height:200px">
                </div>
            </div>
          </ion-col>
        </ion-row>-->

        <ion-row class="mb-2 ml-2 mr-2">
          <ion-button class="primary-btn" style="color:#fff;"
           (click)="addMiscCollectionExcahnge()">done</ion-button>
        </ion-row>



  </div>
</ion-content>


