<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ion-button menuToggle></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="200" (ionRefresh)="refreshPage()"></ion-refresher>
  <div class="content">
    <ion-row class="w-100">
      <ion-col size="10">
        <div *ngIf="searchRooming == true">&nbsp;</div>
        <ion-searchbar [(ngModel)]="searchTerm" *ngIf="searchRooming != true" (ionChange)="setFilteredItems($event)">
        </ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <div (click)="resetFilter()" *ngIf="getIsFilter == 'true'" style="margin-top: 10px;">
          <img src="assets/images/member-list/clear-filter.png" style="width: 76%;">
        </div>
        <div style="margin-top: 10px;" (click)="filterModal()">
          <img style="width: 76%;" src="assets/images/member-list/filter.png">
        </div>
      </ion-col>
    </ion-row>

    <ion-segment #segment (ionChange)="segmentChanged($event)" mode="ios" value="airline">
      <ion-segment-button value="airline">
        <ion-label>Departure</ion-label>
      </ion-segment-button>
      <ion-segment-button value="arrival_departure">
        <ion-label>Arrival</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rooming">
        <ion-label>Rooming</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="swiper-content">
      <swiper #swiper (slideChange)="onSlideChange($event)" [config]="config" class="common-swiper">
        <!--------------------Depature--------------------------->
        <ng-template swiperSlide>
          <app-members-list-depature [members_data]="airline_members_data"></app-members-list-depature>
        </ng-template>
        <!--------------------Arrival--------------------------->
        <ng-template swiperSlide>
          <app-members-list-arrival [members_data]="arival_members_data"></app-members-list-arrival>
        </ng-template>
        <!--------------------Rooming--------------------------->
        <ng-template swiperSlide>

        </ng-template>
      </swiper>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>