<ion-header>
  <ion-toolbar mode="md">
    <ion-title (click)="back()">
      <div class="vertical-center-header">
        <ion-icon class="back-arrow" src="assets/icon/arrow-left.svg"></ion-icon> Members List Filter
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="box-shadow: 2px 2px 10px;padding: 15px 10px;">
  
    <div class="w-100 d-flex form-group" style="display: inline-block;">

  
      <ion-button class="ml-2" *ngFor="let flCode of getFlightCode"
      [color]="(filterFlightCode === flCode)? 'success':'light'" (click)="getSelectedFlCode($event)">
     
        <div>{{flCode}}</div>
      </ion-button>

      <hr *ngIf="filterFlightCode">

      <ion-button class="ml-2" *ngFor="let flDate of keyOfDateMemeberFilter"
        [color]="(filterFlightDate === flDate)? 'success':'light'" (click)="getSelectedFlDate($event)">
    
        <div>{{flDate}}</div>
      </ion-button>

      <hr *ngIf="filterFlightDate">

        <ion-button class="ml-2" *ngFor="let flTime of keyOfTimeMemeberFilter"
        [color]="(filterFlightTime === flTime)? 'success':'light'" (click)="getSelectedFlTime($event)">   
        <div>{{flTime}}</div>
        </ion-button>
    

   
      <ion-row class="mt-2 mb-2 ml-2 mr-2"> 
        <ion-button  class="primary-btn" style="color:#fff;" (click)="filterElementsNew()">Apply Filter
        </ion-button>
       

      </ion-row>
      

    </div>
  </ion-card>


</ion-content>
