.room-cat {
    // margin-top: -34px;
     border: 1px solid red;
     color: red;
     font-weight: bold;
     margin-right: 36px;
   }
   .room-cat1 {
   //  margin-top: -34px;
     border: 1px solid red;
     color: red;
     font-weight: bold;
     margin-right: 90px;
   }
  
 