<ion-row class="mb-2 ml-2 mr-2">
  <ion-button class="primary-btn" *ngIf="totalDataRoom?.length != 0" style="color:#fff;">Total Reserve Room
    {{roomLength}}</ion-button>
  <ion-button class="primary-btn" *ngIf="totalDataRoom?.length == 0" style="color:#fff;">Rooming is not created yet
  </ion-button>
</ion-row>

<div>
    <ion-row [attr.data-index]="i" *ngFor="let rms of totalDataRoom;let i = index">
      <ion-card class="w-100" *ngIf="rms.length > 0">
        <div class="w-100 d-flex">
          <div class="w-60">
            <ion-card-content class="text-left">
              <b> {{rms[0].hotel_name}} <br></b>
              <b style="color: red;">{{rms[0].room_cat}}</b>
            </ion-card-content>
          </div>
          <div class="w-40">
            <ion-card-content class="text-right">
              <b> Room Id <br></b>
              <b class="text-left" style="font-size: 28px;color: red;">{{rms[0].roomno}}</b>
            </ion-card-content>
          </div>
        </div>

        <div class="d-flex">
          <ion-card-content class="text-left w-82">Checkin:<br> <b>{{rms[0].check_in}}</b></ion-card-content>
          <ion-card-content class="text-left w-40" style="padding-left: 6px;">Checkout:<br>
            <b>{{rms[0].check_out}}</b></ion-card-content>
        </div>

        <ng-container *ngFor="let pax of rms">
          <ion-item>
            <ion-icon (click)="presentAlert(pax.special_remark);" name="information-circle-outline"
              style="font-size: 28px;"></ion-icon>
            <ion-label> {{pax.name}}</ion-label>
            <ion-card-content class="text-right"><b>{{pax.meal_pref}}</b></ion-card-content>
          </ion-item>
        </ng-container>
      </ion-card>
    </ion-row>
</div>
